a,
a:visited,
a:active {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
body {
    background: #afafaf url("../img/bg-noise.png") top left repeat;
    margin: 0;
    padding: 0;
}
#page {
    margin: 0;
    padding: 0;
}
header#masthead {
    background: #414141 url("../img/head-noise.png") top left repeat;
    height: 80px;
    width: 100%;
    margin: 0;
    padding: 1em 0 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.7);
    position: relative;
}
#masthead input#preview-palette {
    background-color: #616161;
    padding: 1em;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    color: #eaeaea;
    display: none;
    position: absolute;
    top: 30%;
    right: 25%;
}
#masthead input#preview-palette:active {
    box-shadow: none;
    background-color: #414141;
}
#masthead:hover > input#preview-palette {
    display: block;
}
#masthead h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
#masthead h1 a {
    color: #eaeaea;
}
div#palette {
    display: block;
    width: 900px;
    height: 500px;
    background-color: #d8d8d8;
    margin: 20px auto 0;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
}
div#palette div.palette-color {
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
div#palette h2.usage {
    position: absolute;
    top: 5px;
    left: 25px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-shadow: 0 0 7px #000;
    color: #333335;
}
div#palette div#dark-grey {
    background-color: #333335;
}
div#palette div#dark-grey h2.usage {
    color: #333335;
}
div#palette div#blue-grey {
    background-color: #2c3646;
}
div#palette div#blue-grey h2.usage {
    color: #2c3646;
}
div#palette div#light-grey {
    background-color: #7c8491;
}
div#palette div#light-grey h2.usage {
    color: #7c8491;
}
div#palette div#almost-white {
    background-color: #eaeaea;
}
div#palette div#almost-white h2.usage {
    color: #eaeaea;
}
div#palette div#crimson-red {
    background-color: #8d0011;
}
div#palette div#crimson-red h2.usage {
    color: #8d0011;
}
div#palette div#matte-yellow {
    background-color: #e8c001;
}
div#palette div#matte-yellow h2.usage {
    color: #e8c001;
}
div#palette div.palette-color input {
    display: none;
    max-width: 150px;
    height: 30px;
    margin: 95px auto;
    padding: 0.5em;
    background-color: #fff;
    color: #000;
    font-family: "Roboto Mono";
    text-align: center;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
    border: none;
}
div#palette div.palette-color:hover > input,
div#palette div.palette-color input:focus {
    display: block;
}
footer#colophon {
    position: absolute;
    bottom: 0;
    width: 60%;
    left: 20%;
    text-align: center;
    font-size: 12px;
    padding: 0.5em;
}

/* mockup look */
#mock-page {
    width: 700px;
    margin: 1em auto;
    padding: 0;
}
#mock-page #mock-header,
#mock-page #mock-footer {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#mock-page #mock-header h1 {
    margin-left: 1em;
}
#mock-page #mock-content {
    padding: 1em;
}
#mock-page #mock-content pre.mock-code {
    width: auto;
    padding: 0.6em;
}
#mock-page #mock-content p.alert {
    width: 70%;
    margin: 0 auto;
    padding: 0.5em 0 0.5em 0.6em;
}
#mock-page #mock-footer {
    padding: 0.3em;
    width: auto;
    text-align: center;
}

/* sassy */
div#sass {
    position: static;
}
input#print-sass {
    display: block;
    background-color: #9c27b0;
    color: #fff;
    position: absolute;
    bottom: 2em;
    right: 1em;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 -1px 7px rgba(0,0,0,0.7);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
}
input#print-sass:hover,
input#print-sass:active {
    opacity: 0.8;
}
input#print-sass:active {
    box-shadow: none;
}
div#sass-output {
    background-color: #d8d8d8;
    width: 600px;
    padding: 1em 2em;
    margin: 2em auto;
}
div#sass-output p {
    text-align: justify;
}
div#sass-output pre {
    padding: 0.4em;
    background-color: #a8a8a8;
}